#Ignore these directories
_aux/
logs/
tmp/
video2gif/temp/

#Ignore these files
.env
.DS_Store
_private.js
_private.json
a_private.go
tetris.json

# Ignore these files
.env
.DS_Store
_private.js
_private.json
a_private.go
errors.log
hits.log

# binaries
betazone
betazone-*







