<!-- Begin Footer-->
<style>
  .footer {
    font-family: "arial", sans-serif;
    text-align: center;
    font-size: 0.95em;
    line-height: 1em;
  }

  .contactUs {
    line-height: 1.3em;
  }

  html {
    height: 100%;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    position: relative;
    margin: 0 auto;
    min-height: 98%;
    padding-bottom: 9rem;
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }
</style>

<footer class="footer">
  <a href="//handytabs.com">
    <img class="verticalImage" alt="goHome" src="/_public/icons/home24.png"> Home
  </a>
  <br>
  <br>
  <span>
    <a class="ack" href="https://iextrading.com/developer">IEX Real-Time Price</a>
  </span>
  <span>
    Data provided for free by
    <a href="https://iextrading.com/developer">IEX</a>
  </span>
  <hr>
  <a class="contactUs" href=mailto:webinfo@handytabs.com>
    <strong>Contact us</strong>
  </a>
  <br>
  <span>You can submit your questions, feedbacks, and feature requests by email. We are looking forward to hearing from you!
  </span>
  <br>
  <img class="logo" style="max-height:24px; vertical-align:middle" alt="" src="/_public/icons/jolav32.png"> Jolav &copy; 2018 -
  <strong>
    <a href="https://github.com/jolav/handytabs">View on GitHub</a>
  </strong>
  <hr>
</footer>
<br>
<!-- End -->